*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	overflow: hidden;
}

.fondo{
	position: fixed;
	height: 100%;
	left: 0;
	bottom: 0;
	z-index: -1;
}
.container{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.imagenLogo img{
	width: 500px;
}

.loginContenedor, .imagenLogo, .logoUsuario, .i{
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	width: 400px;
}

form h2{
	font-size: 2.9rem;
	margin: 15px 5px;
	color: #0C3CE8;
	text-transform: uppercase;
}

.input-div{
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom:  3px solid #448;
}


form img{
	width: 100px;
}
.input-div input:focus ~i,
.input-div input:valid ~i{
	color: #FF2A19;
}
.input-div input:focus ~h5,
.input-div input:valid ~h5{
	transition: .5s;
	top: -5px;
	left: 5px;
	font-size: 15px;
	color: #0CB0E8;
}
.i i{
	color: #AAA;
}

.input-div div{
	position: relative;
	height: 45px;
}

.input-div div h5{
	position: absolute;
	left: 10px;
	top: 50%;
	color: #007BFF;
	text-transform: uppercase;
	font-size: 18px;
	transform: translateY(-50%);
}
.input{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	outline: none;
	background: none;
	padding: .5rem;
	font-size: 1.2rem;
	color: #446;
}
a{
	text-align: center;
    position: relative;
    padding: 20px 40px;
    color: #FF2A19;
    text-decoration: none;
    display: inline-block;
    text-transform: 0.2em;
    font-size: 1.5em;
    border: 2px solid transparent;
	cursor: pointer;
    transition: .5s;
	width: 100%;
}
a:hover{
    border: 2px solid #FF2A19;
}

a::before{
    content: '';
    position: absolute;
    inset:  0 8px;
    border-left: 3px solid #FF2A19;
    border-right: 3px solid #FF2A19;
    transition: 1s;
}

a::after{
    content: '';
    position: absolute;
    inset:  8px 0;
    border-top: 3px solid #FF2A19;
    border-bottom: 3px solid #FF2A19;
    transition: 1s;
}

a.btn3:hover::before{
    inset: 0px 8px;
    transform: rotateY(180deg);
}
a.btn3:hover::after{
    inset: 8px 0px;
    transform: rotateX(180deg);
}


/*Cambiar las proporciones de la pagina*/
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.loginContenedor h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.fondo{
		display: none;
	}

	.loginContenedor{
		justify-content: center;
	}
}

